*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

/* header */

.container{
  text-align: center;
  padding: 10px 30px;   
}

header h1{
  color: crimson;
}

header p{
margin-top: 20px;
}

/* main */

.blocco{
  width: auto;
  height: 250px;
  background-color: gray;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container .blocco div{
  padding: 25px 70px;
  background-color: dodgerblue;
  display: inline-block;
  margin: 40px 40px;

}

.float-left{
  float: left;
}